USE master
GO
CREATE DATABASE [AMMSDB]
GO
USE [AMMSDB]
GO
/****** Object:  Table [dbo].[tblAnimalType]    Script Date: 11/20/2022 6:25:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAnimalType](
	[atId] [int] IDENTITY(1,1) NOT NULL,
	[animalName] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[atId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBuyer]    Script Date: 11/20/2022 6:25:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBuyer](
	[bId] [int] IDENTITY(1,1) NOT NULL,
	[buyerName] [nvarchar](50) NOT NULL,
	[dob] [datetime] NOT NULL,
	[gender] [bit] NULL,
	[phone] [nvarchar](30) NOT NULL,
	[email] [nvarchar](30) NOT NULL,
	[photo] [nvarchar](400) NULL,
	[bAddress] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblColor]    Script Date: 11/20/2022 6:25:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblColor](
	[cId] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblInvoice]    Script Date: 11/20/2022 6:25:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInvoice](
	[invoiceID] [int] IDENTITY(1,1) NOT NULL,
	[invoiceDate] [datetime] NOT NULL,
	[bId] [int] NULL,
	[atId] [int] NULL,
	[cId] [int] NULL,
	[seId] [int] NULL,
	[price] [money] NOT NULL,
	[commission] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[invoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLocation]    Script Date: 11/20/2022 6:25:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLocation](
	[lId] [int] IDENTITY(1,1) NOT NULL,
	[BlockName] [nvarchar](50) NOT NULL,
	[RowNumber] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[lId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSeller]    Script Date: 11/20/2022 6:25:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSeller](
	[seId] [int] IDENTITY(1,1) NOT NULL,
	[sName] [nvarchar](50) NOT NULL,
	[gender] [bit] NULL,
	[phone] [nvarchar](30) NOT NULL,
	[sAddress] [nvarchar](100) NOT NULL,
	[photo] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[seId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSellerProductDetails]    Script Date: 11/20/2022 6:25:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSellerProductDetails](
	[spdId] [int] IDENTITY(1,1) NOT NULL,
	[seId] [int] NULL,
	[slId] [int] NULL,
	[atId] [int] NULL,
	[quintity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[spdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblAnimalType] ON 

INSERT [dbo].[tblAnimalType] ([atId], [animalName]) VALUES (1, N'Cow')
INSERT [dbo].[tblAnimalType] ([atId], [animalName]) VALUES (2, N'Goat')
INSERT [dbo].[tblAnimalType] ([atId], [animalName]) VALUES (3, N'Camel')
SET IDENTITY_INSERT [dbo].[tblAnimalType] OFF
GO
SET IDENTITY_INSERT [dbo].[tblBuyer] ON 

INSERT [dbo].[tblBuyer] ([bId], [buyerName], [dob], [gender], [phone], [email], [photo], [bAddress]) VALUES (1, N'Alam Khan', CAST(N'2001-12-01T00:00:00.000' AS DateTime), 1, N'01711363849', N'a@g.com', N'e7f0fa12-e3b0-4b67-bed1-6ab2b7f6d18d_.png', N'Dhaka')
INSERT [dbo].[tblBuyer] ([bId], [buyerName], [dob], [gender], [phone], [email], [photo], [bAddress]) VALUES (2, N'Kamal Khan', CAST(N'2000-01-03T00:00:00.000' AS DateTime), 1, N'01782778878', N'k@gmail.com', N'bda655e4-a2e6-42b3-840f-5b70d12c768c_.png', N'Khulna')
INSERT [dbo].[tblBuyer] ([bId], [buyerName], [dob], [gender], [phone], [email], [photo], [bAddress]) VALUES (3, N'Abdul Salam', CAST(N'1998-12-28T00:00:00.000' AS DateTime), 1, N'01782778878', N'k@gmail.com', N'6e6ba568-a6d7-4632-864e-3797fd8e6938_.png', N'Khulna')
SET IDENTITY_INSERT [dbo].[tblBuyer] OFF
GO
SET IDENTITY_INSERT [dbo].[tblColor] ON 

INSERT [dbo].[tblColor] ([cId], [cName]) VALUES (1, N'Red')
INSERT [dbo].[tblColor] ([cId], [cName]) VALUES (2, N'Black')
INSERT [dbo].[tblColor] ([cId], [cName]) VALUES (3, N'White')
SET IDENTITY_INSERT [dbo].[tblColor] OFF
GO
SET IDENTITY_INSERT [dbo].[tblInvoice] ON 

INSERT [dbo].[tblInvoice] ([invoiceID], [invoiceDate], [bId], [atId], [cId], [seId], [price], [commission]) VALUES (1, CAST(N'2002-01-01T00:00:00.000' AS DateTime), 1, 1, 2, 2, 40000.0000, 4000.0000)
INSERT [dbo].[tblInvoice] ([invoiceID], [invoiceDate], [bId], [atId], [cId], [seId], [price], [commission]) VALUES (2, CAST(N'2022-11-14T00:00:00.000' AS DateTime), 1, 3, 4, 3, 500000.0000, 50000.0000)
INSERT [dbo].[tblInvoice] ([invoiceID], [invoiceDate], [bId], [atId], [cId], [seId], [price], [commission]) VALUES (3, CAST(N'2022-11-13T00:00:00.000' AS DateTime), 2, 3, 3, 5, 70000.0000, 5600.0000)
SET IDENTITY_INSERT [dbo].[tblInvoice] OFF
GO
SET IDENTITY_INSERT [dbo].[tblLocation] ON 

INSERT [dbo].[tblLocation] ([lId], [BlockName], [RowNumber]) VALUES (1, N'AA', 1)
INSERT [dbo].[tblLocation] ([lId], [BlockName], [RowNumber]) VALUES (2, N'AB', 1)
INSERT [dbo].[tblLocation] ([lId], [BlockName], [RowNumber]) VALUES (3, N'AC', 1)
SET IDENTITY_INSERT [dbo].[tblLocation] OFF
GO
SET IDENTITY_INSERT [dbo].[tblSeller] ON 

SET IDENTITY_INSERT [dbo].[tblSeller] OFF
GO
SET IDENTITY_INSERT [dbo].[tblSellerProductDetails] ON 

INSERT [dbo].[tblSellerProductDetails] ([spdId], [seId], [slId], [atId], [quintity]) VALUES (1, 1, 2, 2, 20)
INSERT [dbo].[tblSellerProductDetails] ([spdId], [seId], [slId], [atId], [quintity]) VALUES (2, 2, 3, 3, 20)
INSERT [dbo].[tblSellerProductDetails] ([spdId], [seId], [slId], [atId], [quintity]) VALUES (3, 5, 2, 3, 40)
SET IDENTITY_INSERT [dbo].[tblSellerProductDetails] OFF
GO
ALTER TABLE [dbo].[tblInvoice] ADD  DEFAULT ((0.00)) FOR [price]
GO
ALTER TABLE [dbo].[tblInvoice] ADD  DEFAULT ((0.00)) FOR [commission]
GO
ALTER TABLE [dbo].[tblInvoice]  WITH CHECK ADD FOREIGN KEY([atId])
REFERENCES [dbo].[tblAnimalType] ([atId])
GO
ALTER TABLE [dbo].[tblInvoice]  WITH CHECK ADD FOREIGN KEY([bId])
REFERENCES [dbo].[tblBuyer] ([bId])
GO
ALTER TABLE [dbo].[tblInvoice]  WITH CHECK ADD FOREIGN KEY([cId])
REFERENCES [dbo].[tblColor] ([cId])
GO
ALTER TABLE [dbo].[tblInvoice]  WITH CHECK ADD FOREIGN KEY([seId])
REFERENCES [dbo].[tblSeller] ([seId])
GO
ALTER TABLE [dbo].[tblSellerProductDetails]  WITH CHECK ADD FOREIGN KEY([atId])
REFERENCES [dbo].[tblAnimalType] ([atId])
GO
ALTER TABLE [dbo].[tblSellerProductDetails]  WITH CHECK ADD FOREIGN KEY([seId])
REFERENCES [dbo].[tblSeller] ([seId])
GO
ALTER TABLE [dbo].[tblSellerProductDetails]  WITH CHECK ADD FOREIGN KEY([slId])
REFERENCES [dbo].[tblLocation] ([lId])
GO
